*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}
#image{
    background-image: url(/assets/uploads/images/placement);
    background-size: cover;
    height: 350px;
}
.heading{
    position: relative;
}
.admi{
    position: absolute;
   top: 230px;
   left:40px;
   color:white;
   font-size: 50px;
   font-weight: bolder;
}
.vignan{
    position: absolute;
    top: 190px;
    left: 40px;
    color: #0AEE;
}
.institution{
    padding-top: 20px;
    padding-left: 20px;
    color: grey;
}
.libut button:hover{
    color:rgb(143, 32, 248);
}
.accordionFlushExample{
    background-color: blueviolet;
  
}

.bg-image{
   background-image: url(/assets/uploads/images/vignan1);
   background-size: cover;
  opacity: 0.8;



}
.institution>a:hover{
    color: #933993;
}



@media screen and (max-width:426px) {
    .objective-training{
        display: block;
    }
    
}













/* heade */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.dropdown-menu li {
    position: relative;
}

.dropdown-menu .dropdown-submenu {
    display: none;
    position: absolute;
    left: 100%;
    top: -7px;
}

.dropdown-menu .dropdown-submenu-left {
    right: 100%;
    left: auto;
}

.dropdown-menu>li:hover>.dropdown-submenu {
    display: block;
}

.navbar-collapse>ul>li>a {
    font-weight: bold;
}

.navbar-collapse>ul>li>a:hover {
    border-bottom: 5px solid #933993;
}

.nav-styling1 {
    display: none;
    list-style-type: none;
}

.nav-styling1:hover {
    display: block;
    color: black;
}

.header-top {
    background-color: #933993;

}








@media screen and (min-width:1025px) {
    .btn-close {
        display: none;
    }

    .navbar-nav>li>a {
        font-weight: bold;
        margin-left: 25px;
    }

    .navbar-brand>img {
        margin-left: 100px;
    }


}




@media screen and (min-width:769px) and (max-width:1025px) {
    .navbar-brand>img {
        width: 150px;
        height: auto;

    }

    .navbar-nav>li>a {
        font-weight: bold;

    }

    .navbar-collapse>ul>li>a {
        padding-right: 10px;
        font-size: smaller;
    }

    .nav-link>a {
        padding-right: 10px;
    }

    .btn-close {
        display: none;
    }

}

@media screen and (max-width:426px) {

    .header-top {
        font-size: smaller;
        display: none;
    }

}
/* footer */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family:  sans-serif;
}
.fotcol a {
    color: grey;
}
.fotcol a:hover{
 color: aliceblue;
}
.ft-phon:hover{
    color: aliceblue;
}
.ft-emails:hover{
    color: aliceblue;
}
.loglinkmove a:hover{
    transform: translate(17px, 0px);
    transition-duration: 600ms;
}   
.fthr{
    color:cyan;
   border-bottom: 3px solid cyan;}
.footericon{
    background-color: cyan;}
